* {
  color: white;
  text-align: center;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.indigo {
  background-color: indigo;
}

.violet {
  background-color: violet;
}

.circle {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
}

.square {
  width: 100px;
  height: 100px;
  background: red;
}

.rectangle {
  width: 200px;
  height: 100px;
  background: red;
}
