@import 'colors';
@import 'reset';

.choose {
  padding: 10px;
  background-color: $color-black;
}
//.choose

ul.theme-colors {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.theme-colors li {
  display: inline-flex;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
}

.theme-colors li:nth-child(1) {
  background: $color-blush-pink;
}

.theme-colors li:nth-child(2) {
  background: $color-night;
}

.theme-colors li:nth-child(3) {
  background: $color-hot-pink;
}

.theme-colors li:nth-child(4) {
  background: $color-teal;
}

.theme-colors li:nth-child(5) {
  background: $color-rose-pink;
}

.theme-colors li:nth-child(6) {
  background: paleturquoise;
}
.theme-colors li:nth-child(7) {
  background: peachpuff;
}
.theme-colors li:nth-child(8) {
  background: powderblue;
}
.theme-colors li:nth-child(9) {
  background: purple;
}

.theme-button {
  color: $color-black;
  background-color: $color-white;
  padding: 20px;
}

.title,
.subtitle {
  font-size: 50px;
  text-align: center;
}
//.title

.subtitle {
  font-size: 45px;
}
//.subtitle
